"source ~/.vimrc
set nocompatible
set showmode
set statusline
set modeline
set surround
"nnoremap ; :
let mapleader = " "
map <leader>s :action FileStructurePopup<CR>
map <leader>b :action ShowNavBar<CR>
map <leader>w :action Switcher<CR>
map <leader>r :action Run<CR>
map <leader>f :action RecentFiles<CR>
map <leader>i :action GotoImplementation<CR>

